html{
  height:100%;
}
body {
  background: url("../app/images/abstract-art-artistic-background-1103970.jpg");
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
 }

.list-group-item {
  line-height: 1.5;
}

form.signup,
form.login {
  margin-top: 50px;
}